.detail-wrap {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #fff;
    .module {
        display: flex;
        margin-bottom: 50px;
        .txt {
            margin-right: 30px;
            width: 160px;
        }
        .url {
            color: #309fca;
        }
        .img {
            width: 100px;
            height: 100px;
            margin-right: 30px;
        }
    }
}
